<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Image Manager</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; background: #0e0c0e; margin: 10px 0 10px; min-height: 400px;') }}
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header class="header">
        <h1>Image Storage</h1>
        <ul class="header_folder">
            <li class="header_item"><em>Current Directory</em></li>
            <li class="header_item">{{current_working_directory}}</li>
        </ul>
    </header>
    <main class="app">
        <section class="form-section">
            <form class="form" action="/md">
                <input class="form__input" type="submit" value="New folder"/>
                <input class="submit" name="folder" type="text" placeholder="new_folder"/>
            </form>
            <ul class="folder__list">
                <li><a href="/cd?path=.." class="folder__link">Back</a></li>
                {% for item in file_list[0:] %}
                    {% if '.' not in item%}
                        <li class="folder__item">
                            <strong><a href="/cd?path={{current_working_directory + '/' + item}}" class="folder__link">{{item}}</a></strong>
                        </li>
                    {% elif '.txt' in item or '.py' in item or '.json' in item %}
                        <li class="folder__item"><strong><a href="/view?file={{current_working_directory + '/' + item}}" class="folder__link">{{item}}</a></strong></li>
                    {% else %}
                        <li class="folder__item">{{item}}</li>
                    {% endif%}
                {% endfor %}
            </ul>
            <form class="form" action="/upload">
                <button type="button">Upload</button>
            </form>
            <div>
                {{ dropzone.create('/upload') }}
                {{ dropzone.load_js() }}
                {{ dropzone.config() }}
            </div>
        </section>
        <section class="images-section">
            {% for image in images %}
              <a href="{{ url_for('serve_image', filename=image) }}" target="_blank">
              <img src="{{ url_for('serve_image', filename=image) }}"/>
              </a>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
    </footer>
</body>
</html>